In [18]:
import duckdb
import pandas as pd
import os
from datetime import datetime

In [19]:
con = duckdb.connect(database='dados_duckdb.db', read_only=False)

In [20]:
arquivo = 'z0019_2.csv'
data_ingestao = datetime.now()
df = pd.read_csv(f'../landing/{arquivo}' , sep=';')
df['data_ingestao'] = data_ingestao
df['nome_arquivo'] = arquivo
df.head()

   NATBR    MAKTX WERKS  MAINS  LABST              data_ingestao nome_arquivo
0   1004    SERRA  BT50    100    200 2025-12-17 02:23:05.581961  z0019_2.csv
1   1005  MACHADO  BT50    100    100 2025-12-17 02:23:05.581961  z0019_2.csv
2   1003    PREGO  BT10    100     60 2025-12-17 02:23:05.581961  z0019_2.csv

In [21]:
con.execute("""
    CREATE TABLE IF NOT EXISTS bronze_produtos (
        NATBR VARCHAR,
        MAKTX VARCHAR,
        WERKS VARCHAR,
        MAINS VARCHAR,
        LABST VARCHAR,
        data_ingestao TIMESTAMP,
        nome_arquivo VARCHAR
    )
""")

In [22]:
con.execute("INSERT INTO bronze_produtos SELECT * FROM df")

In [23]:
resultado = con.execute("SELECT * FROM bronze_produtos").fetchdf()
resultado.head()

  NATBR    MAKTX WERKS MAINS LABST              data_ingestao nome_arquivo
0  1004    SERRA  BT50   100   200 2025-12-17 02:23:05.581961  z0019_2.csv
1  1005  MACHADO  BT50   100   100 2025-12-17 02:23:05.581961  z0019_2.csv
2  1003    PREGO  BT10   100    60 2025-12-17 02:23:05.581961  z0019_2.csv

In [25]:
con.execute("ALTER TABLE bronze_produtos RENAME TO bronze_z0019_1")

In [26]:
con.close()